// @file
// Styles for the banner.

.pane--frontpage-slideshow-blocks {
  .content {
    display: block;

    @include breakpoint(700px, $no-query: true) {
      display: flex;
      flex-direction: row-reverse;
    }

    .field--body-text {
      flex: 0 0 25%;
      align-items: center;
      display: flex;

      p {
        @extend %hN;
        font-size: em($font-size-xl);
        margin: rhythm(1, $font-size-xl) 0;
      }
    }

    .field--headshot {
      @include breakpoint(700px, $no-query: true) {
        flex: 1 1 75%;
      }
    }
  }
  .bean--banner-block {
    background-color: black;
  }
}

.l-preface .pane.pane--boxes-demo-banner {
    .page-upcoming & {
      margin-left: 0;
      margin-right: 0;
    }


    .entity-boxes--banner-block {
      .content {
        height: 300px !important;
        position: relative;

        .field--body-text {
          a {
            font-size: 2em;
            line-height: 1;
            text-decoration: none;
          }
        }
      }
    }
  }

