// @file
// Styles for the banner.

.pane--frontpage-slideshow-blocks {
  .field--body-text {
    float: left;
    min-width: 200px;
    width: 100%;
    text-align: center;
    p {
      @extend %hN;
      font-size: em($font-size-xl);
      margin: rhythm(1, $font-size-xl) 0;
    }
    @include breakpoint(1000px, $no-query: true) {
      width: 200px;
      overflow-wrap: break-word;
    }
  }
  .field--headshot {
    float: right;
    max-width: 900px;
    max-height: 450px;
    overflow: hidden;
    @include breakpoint(900px, $no-query: true) {
      max-width:800px;
    }
    }
  .bean--banner-block {
    max-width: 1120px;
    background-color: black;
  }
}

.l-preface .pane.pane--boxes-demo-banner {
    .page-upcoming & {
      margin-left: 0;
      margin-right: 0;
    }


    .entity-boxes--banner-block {
      .content {
        height: 300px !important;
        position: relative;

        .field--body-text {
          a {
            font-size: 2em;
            line-height: 1;
            text-decoration: none;
          }
        }
      }
    }
  }

