// @file
// Styles for layouts.

header .content,
.l-preface .pane,
footer .pane {
  margin: 0 4px 8px;
}

.l-panels-two-column {  
  .l-first,
  .l-second {
    .pane {
      .pane__content {
        .front &{
          height: 250px;
        }
      }
    }
    .pane.short {
      .pane__content {
        .front &{
          height: 170px;
        }
      }
    }
  }
}

.l-panels-four-column-two-row {
  .l-first,
  .l-second,
  .l-third,
  .l-fourth {
    .pane {
      .pane__content {
        font-size: 0.9em;
        height: 123px;
      }
    }
  }
}


.l-panels-three-column-two-row {
  .l-first,
  .l-second,
  .l-third {
    .pane {
      .pane__content {
        height: 165px;
      }
    }
  }
}

.l-panels-three-column-25-50-25 {
  
  .l-first .pane__content,
  .l-third .pane__content {
    padding: 8px;
    text-align: left;
    
    .group-left {
      float: left;
      width: 75%;
    }
    .group-right {
      float: right;
      text-align: right;
      width: 25%;
    }
  }
  .l-second .pane__content {
    padding: 16px;
    text-align: left;
  }
}

.l-panels-four-column-two-row {
  
  .pane__content {
    text-align: left;
  
  }
  .l-fifth .pane__content {
    padding: 16px;
    text-align: left;
  }
}