// @file
// Styles for mailchimp blocks.

.l-panels-two-column {
  .pane--mailchimp-signup-signup-block {

    form {
      text-align: left;
      padding: 24px;

      .mailchimp-signup-subscribe-form-description {
        width: 100%;
        margin-bottom: 0;
      }

      .form-item {
        width: 100%;

      }
    }
    .button--submit {
      @extend %black-submit;
      float: none;
      line-height: 1em;
      margin-top: 1.03em;
      font-size: 1.2em;
      padding: 0.3125em;
    }
  }
}

.mailchimp-signup-subscribe-form {
  padding-bottom: 2em;

  .button--submit {
    @extend %black-submit;
    float: left;
  }
  .mailchimp-signup-subscribe-form-description {
    color: #FFF;
    text-shadow: 1px 1px 0px #000;
    font-size: 1em;
    margin-bottom: 1.3em;
  }
}