// @file
// Styles for the sitename.

.block--page-site-name {
  background: #000;
  color: #fff;
  font-family: $header-font-family;
  font-size: 2.4em;
  height: 75px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  
  .content {
    padding-top: 50px;
    
    a {
      text-decoration: none;
      
      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }
}