// @file
// Styles for a view.

.view {}

.view__filters {
  margin-bottom: rhythm(1);
}

.view--photo-galleries-grid {
  background: $light_gray;
  float: left;
  padding: 4px;
  
  .views-row {
    float: left;
    margin: 2px;
    padding: 0;
    position: relative;
    
    img {
      display: block;
    }
    
    &.views-row-odd {
      margin-right: 8px;
    }
  }
}

#views_slideshow_cycle_div_photo_gallery-block_1_0 .views-field-field-attribution {
  color: #DDD;
  height: 0;

  .field-content {
    position: relative;
    top: -1.3125em;
    background: black;
    font-size: 0.7em;
  }
}