// @file
// Styles for views rows.

//blog views row 
.page-blog .views-row {
  padding: 1em 0 2em;
}

.view--upcoming-events, .view--upcoming {
  .views-row-odd, .odd {
    @extend %red;
  }

  .views-row-even, .even {
    @extend %blue;
  }

  .views-row {
    color: #fff;
    float: left;
    margin: 0 0 4px;
    padding: 8px;
    text-align: right;
    width: 100%;

    .front & {
      height: 123px;
    }

    tr {
      color: #fff;
      margin: 0 0 4px;
      padding: 8px;
      width: 100%;
    }
  }
  table {
    width: 100%;
    line-height: 3em;

    td, th {
      padding-left: 24px;
    }
  }
}
.view--upcoming-events {
    .views-field {
      
      a {
        text-decoration: none;
        
        &:focus,
        &:hover {
          color: #fff;
        }
      }
      
      &.views-field-field-date,
      &.views-field-field-location-locality {
        line-height: 0.9;
        text-transform: uppercase;
      }
      
      &.views-field-field-location-name-line {
        font-size: 1.3em;
        line-height: 1.1;
        text-transform: uppercase;
      }
    }
    
    &.views-row-last {
      margin-bottom: 0;
    }
  }


.view--upcoming {
  .views-row {
    background: #fff;
  }
}

.views-field-view-node {
  @extend %black-button;
}