// @file
// Styles for a view.

.view {}

.view__filters {
  margin-bottom: rhythm(1);
}

.view--photo-galleries-grid {
  background: $light_gray;
  float: left;
  padding: 4px;
  
  .views-row {
    float: left;
    margin: 2px;
    padding: 0;
    position: relative;
    
    img {
      display: block;
    }
    
    &.views-row-odd {
      margin-right: 8px;
    }
  }
}