// @file
// Styles for background colors.

%black {
  background-color: #000;
  color: #fff;
}

%red {
  background-color: $red;
  color: #fff;
}

%blue {
  background-color: $blue;
  color: #fff;
}

%orange {
  background-color: $orange;
  color: #fff;
}

%yellow {
  background-color: $yellow;
  color: #fff;
}

%green {
  background-color: $green;
  color: #fff;
}

%dkgray {
  background-color: $dark_gray;
  color: #fff;
}

%ltgray {
  background-color: $light_gray;
  color: #fff;
}

.black .pane__content {
  @extend %black;
}

.red .pane__content {
  @extend %red;
}

.blue .pane__content {
  @extend %blue;
}

.orange .pane__content {
  @extend %orange;
}

.yellow .pane__content {
  @extend %yellow;
}

.green .pane__content {
  @extend %green;
}

.dkgray .pane__content {
  @extend %dkgray;
}

.ltgray .pane__content {
  @extend %ltgray;
}