// @file
// Styles for panes.

.line {
  margin: 0;
  padding: 0;
  
  &:after {
    content: "";//maybe this breaks the panels...
    
  }
}

.panel-panel  {
  &.panel-one-hundred {
    .inside {
      margin: 0;
    }
  }
  
  .inside {
    margin-left: 4px;
    margin-right: 4px;
  }
  
  &:first-child {
    .inside {
      margin-left: 0;
    }
  }
  
  &.lastUnit {
    .inside {
      margin-right: 0;
    }
  }
  
  .panel-col-fifty {
    .inside {
      .pane {
        .pane__content {
          height: 250px;
        }
      }
    }
  }
  
  .panel-col-thirty-three {
    .inside {
      .pane {
        .pane__content {
          height: 175px;
        }
      }
    }
  }
  
  .panel-col-sixty-six {
    .inside {
      .pane {
        .pane__content {
          height: 500px;
        }
      }
    }
  }
}
  

.pane {
  margin: 0 0 8px;
  
  h2.pane__title {
    background: #000;

    font-size: 1em;
    height: 26px;
    margin: 0 0 4px;
    padding: 5px;
    text-align: right;
  }
  
  .pane__content {
    background: #000;
    position: relative;
    
    .group-bottomright {
      bottom: 10px;
      color: #fff;
      font-size: 1.6em;
      position: absolute;
      right: 10px;
    }
  }
  
  &.pane--admin-info {
    margin: 0;
    
    .pane__content {
      background: #fff;
      height: auto;
    }
  }
}