// @file
// Styles for panes.

.pane {
  margin-bottom: 8px;
  text-align: right;
  
  
  h2.pane__title {
    @extend %pane-title;
  }
  
  h2.node__title {
    margin: 0;
  }
  
  .pane__content {
    position: relative;
    
    .group-bottomright {
      bottom: 10px;
      font-size: 1.6em;
      position: absolute;
      right: 10px;
      text-align: right;
      text-transform: uppercase;
      width: 50%;
      
      .field--body-text {
        color: #fff;
        line-height: 1.1;
        
        a {
          text-decoration: none;
        }
      }
    }
  }
  
  &.pane--admin-info,
  &.pane--nodebody,
  &.pane--node-links {
    margin: 0;
    
    .pane__content {
      background: #fff;
      color: #333;
      height: auto;
      text-align: left;
      
      .node-type-photo-gallery & {
        padding: 16px;
      }
     
    }
  }
  
  &.pane--admin-info {
    .not-logged-in & {
      display: none;
    }
  }
  
  &.pane--quicktabs-media {
    .pane__content {
      background: #fff;
    }
  }
  
  &.pane--upcoming {
    .pane__content {
      
      text-align: left;
      text-transform: none;
    }
  }
  
  &.pane--blog {
    .pane__content {
      padding: 0;
      
      a {
        color: $orange;
        text-decoration: none;
      }
    }
  }
  
  &.pane--bios {
    margin-bottom: 0;
  }
}


.block-boxes-social_block {
  .pane__content {
    padding: 8px;
    
    .group-left {
      float: left;
      width: 75%;
    }
    .group-right {
      float: right;
      text-align: right;
      width: 25%;
    }
  }

}

