// @file
// Styles for panes.

.pane {
  margin-bottom: 8px;
  text-align: right;
  
  
  h2.pane__title {
    @extend %pane-title;
  }
  
  h2.node__title {
    margin: 0;
  }
  
  .pane__content {
    background: #000;
    color: #fff;
    position: relative;
    
    .group-bottomright {
      bottom: 10px;
      font-size: 1.6em;
      position: absolute;
      right: 10px;
      text-transform: uppercase;
    }
  }
  
  &.pane--admin-info,
  &.pane--nodebody,
  &.pane--node-links {
    margin: 0;
    
    .pane__content {
      background: #fff;
      color: #333;
      height: auto;
      text-align: left;
     
    }
  }
  
  &.pane--quicktabs-media {
    .pane__content {
      background: #fff;
    }
  }
  
  &.pane--upcoming {
    .pane__content {
      
      text-align: left;
      text-transform: none;
    }
  }
}