@media (min-width: 43.75em) {
  /* line 13, ../../sass/partials/layout/panels/_three-column-25-50-25.scss */
  .l-panels-three-column-25-50-25 .l-first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 14, ../../sass/partials/layout/panels/_three-column-25-50-25.scss */
  .l-panels-three-column-25-50-25 .l-second {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
  /* line 15, ../../sass/partials/layout/panels/_three-column-25-50-25.scss */
  .l-panels-three-column-25-50-25 .l-third {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-25-50-25:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-25-50-25:after {
  clear: both;
}
/* line 21, ../../sass/partials/layout/panels/_three-column-25-50-25.scss */
.l-panels-three-column-25-50-25 .l-preface,
.l-panels-three-column-25-50-25 .l-first,
.l-panels-three-column-25-50-25 .l-second,
.l-panels-three-column-25-50-25 .l-third {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-25-50-25 .l-preface:after,
.l-panels-three-column-25-50-25 .l-first:after,
.l-panels-three-column-25-50-25 .l-second:after,
.l-panels-three-column-25-50-25 .l-third:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-25-50-25 .l-preface:after,
.l-panels-three-column-25-50-25 .l-first:after,
.l-panels-three-column-25-50-25 .l-second:after,
.l-panels-three-column-25-50-25 .l-third:after {
  clear: both;
}
