@media (min-width: 43.75em) {
  /* line 16, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second.third .l-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 17, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second.third .l-second {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
  /* line 18, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second.third .l-third {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 21, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second.third-empty .l-first {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 22, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second.third-empty .l-second {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 26, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second-empty.third .l-first {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 27, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first.second-empty.third .l-third {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 31, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first-empty.second.third .l-second {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 32, ../../sass/partials/layout/panels/_three-column.scss */
  .l-panels-three-column.first-empty.second.third .l-third {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column:after {
  clear: both;
}
/* line 39, ../../sass/partials/layout/panels/_three-column.scss */
.l-panels-three-column .l-preface,
.l-panels-three-column .l-first,
.l-panels-three-column .l-second,
.l-panels-three-column .l-third {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column .l-preface:after,
.l-panels-three-column .l-first:after,
.l-panels-three-column .l-second:after,
.l-panels-three-column .l-third:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column .l-preface:after,
.l-panels-three-column .l-first:after,
.l-panels-three-column .l-second:after,
.l-panels-three-column .l-third:after {
  clear: both;
}
