@media (min-width: 43.75em) {
  /* line 14, ../../sass/partials/layout/panels/_two-column.scss */
  .l-panels-two-column.first.second .l-first {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 17, ../../sass/partials/layout/panels/_two-column.scss */
  .l-panels-two-column.first.second .l-second {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 4px;
    padding-right: 4px;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-two-column:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-two-column:after {
  clear: both;
}
/* line 27, ../../sass/partials/layout/panels/_two-column.scss */
.l-panels-two-column .l-first,
.l-panels-two-column .l-second {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-two-column .l-first:after,
.l-panels-two-column .l-second:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-two-column .l-first:after,
.l-panels-two-column .l-second:after {
  clear: both;
}
