// @file
// Panels layout: three column 25/50/25 styles
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-three-column-25-50-25 {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 8px;
  $gutter-styles: 'split';
  @include breakpoint(700px, $no-query: true) {
    .l-first { @include grid-span(3,1); }
    .l-second { @include grid-span(6,4); }
    .l-third { @include grid-span(3,10); }
  }
}

.l-panels-three-column-25-50-25 {
  @include clearfix;
  .l-preface,
  .l-first,
  .l-second,
  .l-third {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
      margin-bottom: 2em;
    }
  }
}
