// @file
// Panels layout: two column styles
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-two-column {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 8px;
  $gutter-styles: 'split';
  @include breakpoint(700px, $no-query: true) {
    &.first.second {
      .l-first {
        @include grid-span(6,1);
      }
      .l-second {
        @include grid-span(6,7);
      }
    }
  }
}

.l-panels-two-column {
  @include clearfix;
  .l-first,
  .l-second {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
      margin-bottom: 2em;
    }
  }
}
