// @file
// Styles for placeholders.

%pane-title {
  background: #000;
  color: #fff;
  font-size: 1em;
  height: 26px;
  margin: 0 0 4px;
  padding: 5px;
  text-transform: uppercase;
  
  a {
    color: #fff;
    text-decoration: none;
  }
}
