@media (min-width: 43.75em) {
  /* line 15, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second.third .l-first {
    width: 33.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 16, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second.third .l-second {
    width: 33.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 33.33333%;
    clear: none;
  }
  /* line 17, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second.third .l-third {
    width: 33.33333%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 20, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second.third-empty .l-first {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 21, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second.third-empty .l-second {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 25, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second-empty.third .l-first {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 26, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first.second-empty.third .l-third {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 30, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first-empty.second.third .l-second {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 31, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.first-empty.second.third .l-third {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 37, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.fourth.fifth .l-fourth {
    width: 66.66667%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 38, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.fourth.fifth .l-fifth {
    width: 33.33333%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 42, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.fourth.fifth-empty .l-fourth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 45, ../../sass/partials/layout/panels/_three-column-two-row.scss */
  .l-panels-three-column-two-row.fourth-empty.fifth .l-fifth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-two-row:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-two-row:after {
  clear: both;
}
/* line 57, ../../sass/partials/layout/panels/_three-column-two-row.scss */
.l-panels-three-column-two-row .l-preface,
.l-panels-three-column-two-row .l-first,
.l-panels-three-column-two-row .l-second,
.l-panels-three-column-two-row .l-third,
.l-panels-three-column-two-row .l-fourth,
.l-panels-three-column-two-row .l-fifth {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-two-row .l-preface:after,
.l-panels-three-column-two-row .l-first:after,
.l-panels-three-column-two-row .l-second:after,
.l-panels-three-column-two-row .l-third:after,
.l-panels-three-column-two-row .l-fourth:after,
.l-panels-three-column-two-row .l-fifth:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-two-row .l-preface:after,
.l-panels-three-column-two-row .l-first:after,
.l-panels-three-column-two-row .l-second:after,
.l-panels-three-column-two-row .l-third:after,
.l-panels-three-column-two-row .l-fourth:after,
.l-panels-three-column-two-row .l-fifth:after {
  clear: both;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-two-row .l-first-row:after,
.l-panels-three-column-two-row .l-second-row:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-three-column-two-row .l-first-row:after,
.l-panels-three-column-two-row .l-second-row:after {
  clear: both;
}
