// @file
// Display Suite slat layout style

$bp-first: 600px, 'no-query' true;
$gutter: 8px;

.l-slat {
  @include clearfix;
  border-bottom: $gutter solid #fff;
  margin: 0;
}

.l-slat__header {
  background: #000;
  border-bottom: 4px solid #fff;
  box-sizing: content-box;
  height: 26px;
  margin: 0;
  padding-left: 4px;
  text-transform: uppercase;
  text-align: left;
  
  h2 {
    font-size: 1em;
    margin: 0;
  }
  
  div {
    display: inline-block;
    
    &.field--title {
      padding: 3px 0;
      
      
    }
    
    &.field--fach {
      color: #fff;
      font-family: $header-font-family;
      font-size: 0.9em;
      padding: 3px 0;
      
      &:before {
        color: #fff;
        content: ', ';
      }
    }
  }
}

.l-slat__media {
  margin: 0;
  padding: 0;


  @include breakpoint($bp-first) {
    float: left;
    border-right: $gutter solid #fff;
  }

  &:empty {
    padding: 0;
  }

  a,
  img {
    display: block;
  }
}

.l-slat__content {
  background: $light_gray;
  color: #fff;
  display: table-cell;
  min-height: 300px;
  padding: 16px;
  text-align: left;
  width: 10000px;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *width: auto;
    *zoom: 1;
  }
}

.l-slat--reversed {
  .l-slat__media {
    @include breakpoint($bp-first) {
      float: right;
      padding-left: $gutter;
      padding-right: 0;
    }
  }
}